<html>
    <head>
        <title>{{title}}</title>

		<!-- 기본 메타 태그 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{title}}">
		<meta name="author" content="천상의나무">

        <!-- IE 미지원 -->
		<script>
			var agent = navigator.userAgent.toLowerCase();
			if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
				window.location.href="https://ajb3296.github.io/IE_filtering/";
			}
		</script>

		<!-- CSS -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">

		<!-- JS -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>		

    </head>
    <body>
		<div class="menu">
			<a>Year</a>
			<a>Month</a>
			<a>Week</a>
		</div>
		<center>
	        <h1 class="title">Toaru kagaku no music chart</h1>
			<div class="chart">
			</div>
		</center>
    </body>
	<script type='text/javascript' src="{{ url_for('static', path='/js/chart.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', path='/js/index.js') }}"></script>
</html>